@model IEnumerable<PointOpeOsaaminen.ViewModel.OpettajaOsaaminen>

@{
    ViewBag.Title = "OsaamisListaus";
}

<h2>OsaamisListaus</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Osaaminen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etunimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpettamisenHalukkuus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kuvaus)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Henkilönumero)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Yksikkö)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Toimenkuva)
        </th>



        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Osaaminen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etunimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpettamisenHalukkuus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kuvaus)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Henkilönumero)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Yksikkö)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Toimenkuva)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OsaamisID }) |
            @Html.ActionLink("Details", "Details", new { id = item.OsaamisID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OsaamisID })
        </td>
    </tr>
}

</table>
